.nav .selected {
    background-color: darkGray;
}
.task, .newtask {
    padding: 20px;
}
.task .summary {
    font-weight: bold;
}
.task .info {
    display: block;
    padding-bottom: 10px;
}
.task .edit-summary, .task .summary {
    display: inline;
}
