<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basin</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>

    <div id="task-app">
        <h1> Task List </h1>
        <h2> Active Tasks </h2>
        <div id="active-tasks"></div>
        <h2> Sleeping Tasks </h2>
        <div id="sleeping-tasks"></div>
        <h2> Blocked Tasks </h2>
        <div id="blocked-tasks"></div>
        <h2> Delegated Tasks </h2>
        <div id="delegated-tasks"></div>
        <h2> Completed Tasks </h2>
        <div id="completed-tasks"></div>
    </div>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/backbone.js"></script>
    <script src="/static/js/main.js"></script>

    <script type="text/template" id="item-template">
        <%- summary %>
        <button class="done-button">Done</button>
    </script>

</body>
</html>
