<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basin</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/alt.css">
</head>

<body>

    <h1> Basin Alt </h1>

    <div class="nav">
        <button class="active">Active</button>
        <button class="sleeping">Sleeping</button>
        <button class="blocked">Blocked</button>
        <button class="delegated">Delegated</button>
        <button class="completed">Completed</button>
        <button class="trashed">Trashed</button>
    </div>

    <ul class="mainlist">
    </ul>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/alt.js"></script>
</body>
</html>
