<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Basin</title>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/jquery.datetimepicker.css">
    <link rel="stylesheet" href="/static/css/alt.css">
</head>

<body>

    <div class="app">

        <h1> Basin </h1>

        <div class="nav">
            <button class="active">Active</button>
            <button class="delegated">Delegated</button>
            <button class="sleeping">Sleeping</button>
            <button class="blocked">Blocked</button>
            <button class="completed">Completed</button>
            <button class="trashed">Trashed</button>
        </div>

        <form class="newtask">
            <label>New task:</label>
            <input class="summary" />
        </form>

        <div class="mainlist">
        </div>

    </div>

    <script type="text/template" id="task-template">
        <div class="info">
            <span class="projecttag">
                <%- task.get('project') ? "[PROJECT]" : "" %>
            </span>
            <span class="summary"><%- task.get('summary') %></span>
            <input class="edit-summary" value="<%- task.get('summary') %>" />
            <span class="due">
                ( due
                <span class="dt"><%- task.get_mdt_human('due') || 'never' %></span>
                <input class="edit-due" value="<%- task.get('due') || moment().toISOString()%>" />
                )
            </span>
            <span class="sleepinfo"
                <%= task.state() === 'sleeping' ? '' : "style='display:none'"%>>
                ( wakes
                <%- task.get('sleepforever') ? 'never' : '' %>
                <%- task.get('sleepuntil') !== null
                    ? task.get_mdt_human('sleepuntil')
                    : '' %>
                )
            </span>
        </div>
        <button class="complete-btn">Done</button>
        <button class="sleep-btn">Sleep</button>
        <button class="delegate-btn">Delegate</button>
        <button class="block-btn">Block</button>
        <button class="trash-btn">Trash</button>
    </script>

    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/backbone.js"></script>
    <script src="/static/js/moment-with-langs.js"></script>
    <script src="/static/js/moment-timezone.js"></script>
    <script src="/static/js/moment-timezone-data.js"></script>
    <script src="/static/js/jquery.datetimepicker.js"></script>
    <script src="/static/js/alt2.js"></script>

</body>
</html>
